# https://git-scm.com/docs/gitattributes
*.pbm binary
*.pgm binary
*.ppm binary

# https://git-lfs.com
surveyGshhgDatasets/gshhgRes=c_gshhgLevel=1.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=c_gshhgLevel=2.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=c_gshhgLevel=3.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=c_gshhgLevel=5.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=c_gshhgLevel=6.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=f_gshhgLevel=1.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=f_gshhgLevel=2.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=f_gshhgLevel=3.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=f_gshhgLevel=4.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=f_gshhgLevel=5.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=f_gshhgLevel=6.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=h_gshhgLevel=1.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=h_gshhgLevel=2.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=h_gshhgLevel=3.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=h_gshhgLevel=4.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=h_gshhgLevel=5.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=h_gshhgLevel=6.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=i_gshhgLevel=1.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=i_gshhgLevel=2.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=i_gshhgLevel=3.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=i_gshhgLevel=4.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=i_gshhgLevel=5.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=i_gshhgLevel=6.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=l_gshhgLevel=1.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=l_gshhgLevel=2.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=l_gshhgLevel=3.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=l_gshhgLevel=4.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=l_gshhgLevel=5.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=l_gshhgLevel=6.json filter=lfs diff=lfs merge=lfs -text
surveyGshhgDatasets/gshhgRes=*.json filter=lfs diff=lfs merge=lfs -text
